{% paginate search.results by 10 %}
  <h1>Search Results</h1>
  {% if search.performed %}
    {% if search.results.size > 0 %}
      <p>{{ search.results.size }} results for the search term {{ search.terms | escape }}</p>
      {% for item in search.results %}
          {% case item.object_type %}
            {% when 'product' %}
              {% render 'product-card', product_product: item %}
            {% else %}    
          {% endcase %}
      {% endfor %}
    {% else %}
      <p>No results found for the search term: {{ search.terms | escape }}.</p>
    {% endif %}
  {% endif %}
  {% render 'pagination', pagination: paginate %}
{% endpaginate %}
