<h1>Reset account password</h1>
{% form 'reset_customer_password' %}
  {{ form.errors | default_errors }}
  <label for="password">Password</label>
  <input type="password" name="customer[password]">
  <label for="password_confirmation">Password confirmation</label>
  <input type="password" name="customer[password_confirmation]">
  <input type="submit" value="Reset password">
{% endform %}