<h1>Set a new password</h1>
{% form 'reset_customer_password' %}
  {% if form.errors %}
    {{ form.errors | default_errors }}
  {% endif %}
  <label for="password">Password</label>
  <input type="password" id="password" name="customer[password]" autocomplete="new-password" placeholder="Password">
  <label for="password_confirmation">Password confirmation</label>
  <input type="password" id="password_confirmation" name="customer[password_confirmation]" autocomplete="new-password" placeholder="Confirm your password">
  <button type="submit">Reset password</button>
{% endform %}