<div class="template-404" id="template-404">
  {{ section.settings.title }}
  {{ section.settings.subtext_title }}
  
  {% if section.settings.button_url == blank %}
    {% assign shop_url = shop.secure_url %}
  {% else %}
    {% assign shop_url = section.settings.button_url %}
  {% endif %}
  <a href="{{ shop_url }}">{{ section.settings.button_label }}</a>
</div>


{% schema %}
{
  "name": "Template 404",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Error 404",
      "label": "404 Heading Title"
    },
    {
      "type": "text",
      "id": "subtext_title",
      "default": "The page that you're looking for is not found",
      "label": "404 Subtext Title"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Back to homepage",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ]
}
{% endschema %}